#main-container {
  padding-top: 10vh;
}

#main-container .row {
  padding: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.nav-tabs {
  padding: 0 15%;
}

.nav-tabs .nav-link {
  width: 50%;
  background-color: #495057;
  color: #fff;
  border-bottom-color: #fff;
}

/* phone size query */
@media (max-width: 576px) { 
  .nav-tabs {
    padding: 0 1%;
  }
}