#main-container {
  padding-top: 3vh;
  padding-bottom: 65px;
}

#main-container .row {
  padding: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  width: 325px;
  margin: auto;
  background-color: #fff;
  color: #495057;
  border-radius: 10px;
  padding: 10px;
}

.nav-tabs {
  padding: 0 15%;
  /* margin-bottom: 1px; */
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link {
  width: 33%;
  background-color: #495057;
  color: #fff;
  border: 1px solid #282c34;
  margin-bottom: 1px;
  border-bottom-width: 0px;
}

.nav-tabs .nav-link.active {
  border-bottom-width: 0px;
  margin-bottom: 0px;
}

.workout-options-list {
  height: 250px;
  overflow: auto;
  color: #282c34;
  text-align: left;
}

.advanced-input-options {
  text-align: left;
}

/* phone size query */
@media (max-width: 576px) { 
  .nav-tabs {
    padding: 0 1%;
  }

  #main-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .hide-on-xs {
    display: none;
  }

  .advanced-input-options {
    margin-top: 20px;
  }
}