.MainInput {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  color: #fff;
}

.top-row {
  padding: 15px;
}

.reset-button {
  float: left;
}

.anxiety-button {
  float: right;
}

#main-container {
  padding-top: 25vh;
}

#main-container .row {
  padding: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#anxiety-container {
  padding-top: 25vh;
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-size: 0.9em;
}

.footer a {
  color: #fff;
}