#main-container {
  padding-top: 3vh;
  padding-bottom: 65px;
}

#main-container .row {
  padding: 15px;
}

.MainContainer {
  text-align: center;
  position: relative;
}

.non-footer-content {
  height: calc(100% - 60px);
}

.top-row {
  padding: 15px;
}

.reset-button {
  float: left;
}

.anxiety-button {
  float: right;
}

#anxiety-container {
  padding-top: 15vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-size: 0.9em;
  height: 60px;
  background-color: #282c34;
}

.footer a {
  color: #fff;
}

/* .footer .col {
  position: relative;
}

.footer .col .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* phone size query */
@media (max-width: 576px) { 
  #main-container {
    padding-top: 1vh;
    padding-bottom: 100px;
  }

  .non-footer-content {
    height: calc(100% - 88px);
  }

  .footer {
    height: 88px;
  }
}